.github-query-limits.inline
	span.limit.limit--core.label.label-success(title="Core queries" ng-class="directiveCtrl.limits.core.remaining > 20 ? 'label-success' : (directiveCtrl.limits.core.remaining > 10 ? 'label-warning' : 'label-danger')")
		i.limit__icon.fa.fa-cogs
		| &nbsp;
		span.limit__value {{ directiveCtrl.limits.core.remaining }} / {{ directiveCtrl.limits.core.limit }}

	| &nbsp;

span.limit.limit-search.label(title="Search queries" ng-class="directiveCtrl.limits.search.remaining > 20 ? 'label-success' : (directiveCtrl.limits.search.remaining > 10 ? 'label-warning' : 'label-danger')")
	i.limit__icon.fa.fa-search
	| &nbsp;
	span.limit__value {{ directiveCtrl.limits.search.remaining }} / {{ directiveCtrl.limits.search.limit }}

span.limit.limit-rate.label(title="Time rate limits" ng-class="directiveCtrl.limits.rate.remaining > 20 ? 'label-success' : (directiveCtrl.limits.rate.remaining > 10 ? 'label-warning' : 'label-danger')")
	i.limit__icon.fa.fa-clock-o
	| &nbsp;
	span.limit__value {{ directiveCtrl.limits.rate.remaining }} / {{ directiveCtrl.limits.rate.limit }}