
<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#admin-navbar" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><span class="navbar-brand"><i class="fa fa-github-alt"></i></span>
    </div>
    <div id="admin-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
      <div class="pull-right">
        <github-query-limits></github-query-limits>
        <button ng-click="" translate="translate" class="btn navbar-btn btn-default">Log Out</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h1 translate="translate">Administrative panel</h1>
  <hr/>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group heading="User"></uib-accordion-group>
        <uib-accordion-group heading="Limits">
          <button ng-click="adminCtrl.apiSend('rateLimit')" class="btn btn-default btn-block">Get Limits</button>
        </uib-accordion-group>
        <uib-accordion-group heading="Commits"></uib-accordion-group>
        <uib-accordion-group heading="Repositories"></uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12"><strong>Response:</strong>
      <pre ng-bind-html="adminCtrl.dump"></pre>
    </div>
  </div>
</div>