
<div class="container-fluid">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="header">
      <h3 translate="translate">Two-Factor Authentication</h3>
    </div>
    <hr/>
    <div role="alert" ng-repeat="error in loginCtrl.errors" class="alert alert-danger"><strong ng-if="error.message">{{ error.message }}</strong><br/><span translate="translate">See GitHub API docs:&nbsp;</span><a ng-if="error.documentation_url" ng-href="error.documentation_url">{{ error.documentation_url }}</a></div>
    <div class="content">
      <form id="two-factor-auth" ng-submit="tfCtrl.send()">
        <div class="form-group">
          <input type="text" name="code" placeholder="{{ 'Enter security code...' | translate }}" id="code" ng-model="tfCtrl.code" class="form-control"/>
        </div>
        <div class="form-group">
          <button type="submit" translate="translate" class="btn btn-md btn-success">Send</button>
          <button type="buttin" ng-click="tfCtrl.cancel()" translate="translate" class="btn btn-md btn-default">Cancel</button><span class="pull-right"><a href="https://github.com/settings/two_factor_authentication/configure" target="_blank" translate="translate" class="restore-auth-data">Configure Two-Factor Authentication</a></span>
        </div>
      </form>
    </div>
  </div>
</div>