div.container

	h1
		span(translate) Administrative panel

	hr

	.col-lg-4.col-md-3.col-sm-2.col-xs-1
	.col-lg-4.col-md-6.col-sm-8.col-xs-10
		.auth(ng-if="!loginCtrl.isRemembered")
			p.text-center(translate) Authorize with your GitHub account to continue

			br

			.alert.alert-danger(role="alert" ng-repeat="error in loginCtrl.errors")
				strong(ng-if="error.message") {{ error.message }}
				br
				| See GitHub API docs:&nbsp;
				a(ng-if="error.documentation_url" ng-href="error.documentation_url") {{ error.documentation_url }}

			form#auth(ng-submit="loginCtrl.auth()")
				uib-tabset
					uib-tab(active="loginCtrl.isLPAuth")
						uib-tab-heading(translate)
							| Login/Password

						br

						.form-group
							input.form-control(type="text" name="login" placeholder="{{ 'GitHub Login' | translate }}" id="login" ng-model="loginCtrl.login")
						.form-group
							.input-group
								input.form-control(type="{{ loginCtrl.passFieldType }}" name="password" placeholder="{{ 'Password' | translate }}" id="password" ng-model="loginCtrl.password")
								.input-group-addon(ng-click="loginCtrl.togglePassField()")
									i.fa.fa-eye-slash(ng-if="loginCtrl.passFieldType == 'password'")
									i.fa.fa-eye(ng-if="loginCtrl.passFieldType != 'password'")

					uib-tab(active="loginCtrl.isTokenAuth")
						uib-tab-heading(translate)
							| Access Token

						br

						.form-group
							input.form-control(type="text" name="login" placeholder="{{ 'GitHub Login' | translate }}" id="login" ng-model="loginCtrl.login")
						.form-group
							.input-group
								input.form-control(type="{{ loginCtrl.passFieldType }}" name="token" placeholder="{{ 'GitHub Access Token' | translate }}" id="token" ng-model="loginCtrl.token")
								.input-group-addon(ng-click="loginCtrl.togglePassField()")
									i.fa.fa-eye-slash(ng-if="loginCtrl.passFieldType == 'password'")
									i.fa.fa-eye(ng-if="loginCtrl.passFieldType != 'password'")

				.checkbox
					label
						input(type="checkbox" name="remember" id="remember" ng-model="loginCtrl.remember")
						span(translate) Remember me
					span.pull-right
						a.restore-auth-data(ng-show="loginCtrl.isLPAuth" href="https://github.com/password_reset" target="_blank" translate) Forgot password?
						a.restore-auth-data(ng-show="loginCtrl.isTokenAuth" href="https://github.com/settings/tokens" target="_blank" translate) Create new token
				.form-group
					button.btn.btn-lg.btn-success(type="submit" ng-disabled="(loginCtrl.login || loginCtrl.password) && loginCtrl.token" translate) Log In

				.well(ng-show="loginCtrl.isLPAuth")
					strong(translate) Use this method for the first-time or single auth

				.well(ng-show="loginCtrl.isTokenAuth")
					strong(translate)
						| Authorization with Access Token is more preferred cause:

					p
						ul
							li(translate) It's faster
							li(translate) There's no need to use phone or app
							li(translate) In case of security leak you can revoke compromised token

		.re-check(ng-if="loginCtrl.isRemembered")
			p.text-center
				h3.text-center(translate) Hi! Seems like we met before!
				h3.text-center
					small(translate) Hold on a second, i'll check it...

	.col-lg-4.col-md-3.col-sm-2.col-xs-1