.navbar.navbar-default.navbar-static-top
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#admin-navbar" aria-expanded="false")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

			span.navbar-brand
				i.fa.fa-github-alt

		.collapse.navbar-collapse(id="admin-navbar")
			ul.nav.navbar-nav
				li.active
					a(href="#") Home
				li
					a(href="#") Content
				li
					a(href="#") Settings

			.pull-right
				github-query-limits
				button.btn.navbar-btn.btn-default(ng-click="" translate) Log Out

.container-fluid
	h1(translate) Administrative panel

	hr

	.row
		.col-lg-3.col-md-4.col-sm-6.col-xs-12
			uib-accordion(close-others="oneAtATime")
				uib-accordion-group(heading="User")
				uib-accordion-group(heading="Limits")
					button.btn.btn-default.btn-block(ng-click="adminCtrl.apiSend('rateLimit')") Get Limits
				uib-accordion-group(heading="Commits")
				uib-accordion-group(heading="Repositories")

		.col-lg-9.col-md-8.col-sm-6.col-xs-12
			strong Response:

			pre(ng-bind-html="adminCtrl.dump")