.container
	h1 Let's tune couple things...

	hr

	.progress
		.progress-bar.progress-bar-info.progress-bar-striped(role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%")

	hr

	.jumbotron
		h2 Access Token

		p
			| Creating access token makes authentication process more flexible, fast and secure. <br>
			| All process is automatic, you can revoke created token at any time you want!
			ul
				li No need Two-Factor authentication
				li You're not use password, so can't compromise it.
				li
					| Simply revoke token from settings page to block access

		p
			button.btn.btn-lg.btn-info
				| Create Access Token Automatically
