.container-fluid
	.col-lg-12.col-md-12.col-sm-12.col-xs-12
		.header
			h3(translate) Two-Factor Authentication

		hr

		.alert.alert-danger(role="alert" ng-repeat="error in loginCtrl.errors")
			strong(ng-if="error.message") {{ error.message }}
			br
			span(translate) See GitHub API docs:&nbsp;
			a(ng-if="error.documentation_url" ng-href="error.documentation_url") {{ error.documentation_url }}

		.content
			form#two-factor-auth(ng-submit="tfCtrl.send()")
				.form-group
					input.form-control(type="text" name="code" placeholder="{{ 'Enter security code...' | translate }}" id="code" ng-model="tfCtrl.code")

				.form-group
					button.btn.btn-md.btn-success(type="submit" translate) Send
					button.btn.btn-md.btn-default(type="buttin" ng-click="tfCtrl.cancel()" translate) Cancel

					span.pull-right
						a.restore-auth-data(href="https://github.com/settings/two_factor_authentication/configure" target="_blank" translate)
							| Configure Two-Factor Authentication