doctype html
html(data-ng-app="cato")
	head
		meta(charset="UTF-8")
		title Cat(O_O)

		// inject:css
		// endinject

		// inject:head:js
		// endinject

	body
		div(ng-view="")

		// inject:vendor:js
		// endinject

		// inject:app:js
		// endinject