doctype html
html(data-ng-app="catality")
	head
		meta(charset="UTF-8")
		title Catality

		// inject:css
		// endinject

		// inject:head:js
		// endinject

	body
		div(ng-view="" link-handler)

		// inject:vendor:js
		// endinject

		// inject:app:js
		// endinject